html {
  background: #fff;

}

.button.is-info.is-outlined:focus {
  background: none;
  color: #42afe3;
}

.button.is-danger.is-outlined:focus {
  background: none;
  color: #ed6c63;
}

.out-of-stock {
  color: #ff0000;
}

.app-title {
  color: #666;
  font-weight: bold;
}

.store-title {
  text-align: center;
  padding: 2em;
}

.list,
.basket {
  padding: 1em 2em;
}

.button, .fa, .input, .textarea, table td, table th {
  vertical-align: baseline;
}

/* BASKET */
.cart-title,
.list-title {
  font-weight: bold;
  margin-bottom: 2em;
}

.cart-title i,
.list-title i {
  font-size: 21px;
  margin-left: .3em;
}

.basket-table {
  margin-top: 0px;
}

/* Table */
.table tfoot th:first-child,
.table tfoot th:nth-child(2) {
  color: #000;
}
